* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
  }

html, body, div, header {
    padding: 0px;
    margin: 0px;
  }

h1 {
    text-align: center;
    font-size: 60px;
    color: rgb(10, 48, 78);
    margin: 0px;
}
h2 {
    text-align: center;
    font-size: 40px;
    color: rgb(10, 48, 78);
    margin: 0px;
}

h4 {
    float: top;
    text-align: right;
    font-size: 24px;
    color: rgb(10, 48, 78);
    margin: 10px;
    padding-right: 1%;
    
}


.top-page {
    /* background-color: rgb(10, 48, 78); */
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0px;
    
  }

.container {
    text-align: center;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
    border: 3px solid rgb(10, 48, 78);
    border-radius: 40px;
    /* border-start-end-radius: 20px; */
    /* margin-right: 20%;
    margin-left: 20%; */
    width: 75%;
    
}

.president {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    text-align: center;
    margin: 20px;
    

}

.v-pres {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    text-align: center;
    margin: 20px;
    

}

.treasurer {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    text-align: center;
    margin: 20px;
    

}
.Exec-img {
    /* display: inline-block; */
    
    display: block;
    margin: 10px;
    width: 200px;
    height: auto;
    /* float:left;   */
}

.container2 {
    /* display: flex; */
    padding: 2%;
    margin: 100px auto;
    width: 75%;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(10, 48, 78);
    border-radius: 40px;

}
.EventImage1 {
 width: 40%;
 justify-content: right;
 /* position: absolute; */
 margin-right: 2%;
 padding: 20px;
}
.container2 h2{
  font-size: 45px;
}

.container2 p, ul{
  font-size: 25px;
}


.ssw{
    position: absolute;
    top: 11px;
    left: 10px;
}

.menuButton:hover{
  cursor: pointer;
  
}

.menuButton-img {
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: auto;
    position: absolute;
    left:0;
    top:0;
}


 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #6f6f70; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f9f8f8;
    display: block;
    transition: 0.3s;
    margin: 0px;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #c1bcbca7;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  /* #main {
    transition: margin-left .5s;
    padding: 20px;
    margin:0px;
    float: left;
  } */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  footer {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 1px solid rgba(95, 94, 94, 0.628);
  }
