/* homepage.css */
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-sizing: border-box;
}

html, body, div, header {
  padding: 0px;
  margin: 0px;
}


.Logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: auto;
    float:bottom;
    background-color: rgb(10, 48, 78);  
    border-radius: 25px;
}

h4 {
    float: top;
    text-align: right;
    font-size: 24px;
    /* color: white; */
    color: rgb(10, 48, 78);
    margin: 10px;
    padding-right: 1%;
}

.top-page {
  /* background-color: rgb(10, 48, 78); */
  background-color: white;
  padding-bottom: 2.3%;
  padding-top: 0.5%;
  margin-bottom: 0px;
  
}

.menuButton:hover{
  cursor: point;
  
}


.menuButton-img {
    margin: 0px;
    padding: 0px;
    width: 100px;
    height: auto;
    position: absolute;
    left:0;
    top:0;
}

.ssw{
  position: absolute;
  top: 11px;
  left: 10px;
}


.test{
 
  
  font-size: 24px;
  color: rgb(209, 147, 15);
  padding-top: 15px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  margin: 0px;
}

.test h1{
  margin: 0px;
  font-size: 24px;
  color: rgb(10, 48, 78);
}

.test p{
  margin: 0px;
  font-size: 24px;
  color: rgb(10, 48, 78);
  padding: 30px;
}

  /* Below mission statement */
  .container {
    text-align: center;
    
    padding: 20px;
    margin: 20px;
    /* border: 1px solid #060000; */
}

.container h2{
  font-size: 3vmin;
}


.event-box {
    margin-top: 6%;
    display: inline-block;
    padding: 2%;
    border: 4px solid rgb(10, 48, 78);
    border-radius: 40px;
    vertical-align: middle;
    max-width: auto;
    min-width: auto;
    margin-left: 2%;
    margin-right: 2%;
    
}



.welcome-box {
    margin-top: 6%;
    /* margin-right: 20%; */
    vertical-align: middle;
    padding: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border: 4px solid rgb(10, 48, 78);
    border-radius: 40px;
    display: inline-block;
    min-width: auto ;
    max-width: auto ;
    
}

.welcome-box p{
  margin: 0px;
  font-size: 4vmin;
  color: rgb(10, 48, 78);
  padding: 30px;
}

.welcome-box img{
  max-width: 10vmax;
}

.event-box li{
  margin: 0px;
  font-size: 3vmin;
  color: rgb(10, 48, 78);
  text-align: left;
}

.Campusgroups {
  width: 25%;
  height: auto;
}

.Discord {
  width: 25%;
  height: auto;
}
  
 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #6f6f70; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f9f8f8;
    display: block;
    transition: 0.3s;
    margin: 0px;
    
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #c1bcbca7;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  /* #main {
    transition: margin-left .5s;
    padding: 20px;
    margin:0px;
    float: left;
  } */
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  body {
    background-color: rgb(255, 255, 255);
  }

  footer {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 1px solid rgba(95, 94, 94, 0.628);
  }
